<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waterland Enterprise</title>
  <link rel="stylesheet" href="/assets/css/main.css" type="text/css"/>
</head>
<body class="is-preload">

  <!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar58"><img src="images/avatar.png" alt="" /></span>
							<h1 id="title">Ochuowo Otiato</h1>
							<p>Full stack Developer</p>
							<br></br>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="https://github.com/Ochuowo" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://www.linkedin.com/in/paul-ochuowo-08b93822/" class="icon brands fa-linkedin"><span class="label">fa-linkedin</span></a></li>
							<li><a href="https://www.gmail.com/" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Hi!...I'm <strong>Ochuowo</strong>, a <a href="https://github.com/Ochuowo">full stack</a> developer<br />
								in software engineering, <a href="https://www.linkedin.com/in/paul-ochuowo-08b93822/">who lives by-the-code</a>.</h2>
								<p>Mobile / Desktop / Web-Design <br />
									For all your small, medium and Enterprise solutions.</p>
							</header>

							<footer>
								<a href="#portfolio" class="button scrolly">Welcome</a>
							</footer>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>Portfolio</h2>
							</header>

							<p>On offer is a wide range of products and services, which include but are not limited to workflow design, web-hosting, technical
							   and maintenance support, data entry assistance, staff training, site visits and even e-commerce services, should there be a need.</p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="../images/mobapp.png" class="image fit"><img src="../images/mobapp.png" alt="" /></a>
										<header>.
											<h3>Mobile Applications</h3>
											<p>
												Internet of Things or IOT is the new norm. Mobile apps will not only reside in our phones,
												but are fastly being adapted into machine learning and A.I. production fields.
												The next 50 years will reshape everything you know about technology and we are well aware of that.
												It's why we create UX/UI features from scratch, helping to bring your ideas to life,
												exactly the way you envision them to be. 
											</p>
										</header>
									</article>
									<article class="item">
										<a href="../images/ochisproperty.png" class="image fit"><img src="../images/ochisproperty.png" alt="" /></a>
										<header>
											<h3>Ochi's Property Manager</h3>
											<p>
												A robust property management solution offering various benefits, in asset management, as well as tenants. 
												Collect data from several resources but bring them all under one location, for convinience purposes as well 
												as accurate record keeping. Scrutinize suppliers, leases and service providers on a daily basis.
											    Click here to download <li><a href="<%= oscriptId %>">Ochi's Property Manager</a></li>
											</p>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="../images/webdesign.png" class="image fit"><img src="../images/webdesign.png" alt="" /></a>
										<header>
											<h3>Web-Design & Desktop Applications</h3>
											<p>
												Get a quick set up with web-hosting, web-design and web integration services.
												From simple ideas to complicated and intricate concepts, we have everything you're looking for.
											</p>
										</header>
									</article>
									<article class="item">
										<a href="../images/ecommerce.png" class="image fit"><img src="../images/ecommerce.png" alt="" /></a>
										<header>
											<h3>E-commerce</h3>
											<p>
												On-line shopping has never been easier. Take full advantage of the e-commerce platforms, by running your store virtually, hustle free.
												Clients can now look for you on the internet, see your products or services, make an order, then pay for deliveries.
												The demand for e-commerce services has spiked with the advent of the pandemic, so if you have a business that you want to
												upgrade, you've come to the right place.
											</p>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="../images/sacco manager.png" class="image fit"><img src="../images/sacco manager.png" alt="" /></a>
										<header>
											<h3>Bamboo Sacco Manager</h3>
											<p>A user-friendly table banking local system that strictly operates off-line. Easy installation,
												affordable rates and a big time-saver for data sharing, generation of reports, membership & board
												management, loan & interest calculus, just to mention a few benefits.
												Click here to download <li><a href="<%= bscriptId %>">Bamboo Sacco Manager</a></li>
											</p>
										</header>
									</article>
									<article class="item">
										<a href="../images/jotec school manager.png" class="image fit"><img src="../images/jotec school manager.png" alt="" /></a>
										<header>
											<h3>Jotec School Manager</h3>
												<p>
													A comprehensive school management system that encompasses student management, staff management and takes care of the day to day operations of a learning institution, 
													so that overall performance is not only achieved within the best time possible, 
													but the vision, mission and objectives of the institution can all be assessed thoroughly through a secure and user friendly platform.
												    Click here to download <li><a href="<%= jscriptId %>">Jotec School Manager</a></li>
												</p>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="../images/developer.jpg" class="image featured"><img src="../images/developer.jpg" alt="" /></a>

							<p>Ever since the first day I discovered computers, I just wanted to get to know more about them and what they can do. 
							   New technology always fascinates me beyond imagination, every chance I come accross new devices or new software, 
							   a spark lights up inside (*), wanting to dig deeper and to find out a bit more about the latest break-throughs or the newest kid on the block with an amazing invention. 
							   Between hardware and software, I chose software for one reason, the ability to touch and change lives accross the globe, 
							   this is a calling I am more than willing to answer at any given time,any given place. 
							   This is why I became a full stack developer, specializing in Java, sql, C#, vba, css and html. I can create desktop, mobile as well as web applications, 
							   supporting both the frontend and backend, as well as middleware authentication, as and when is required. 
							   </p>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>Need a solution? send me an email with your contacts and I'll be in touch asap. 
							   Thanks for your time and have a Siku Njema / good day / guten tag / bonjour!</p>

							<form method="post" action="https://formspree.io/f/mgergadn">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<input type="hidden" name="Submitted" value=True" />
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">
			  <!-- Copyright -->
			  <ul class="copyright">
				<li>&copy; Waterland Enterprise. All rights reserved.</li><li>Designed For: <a href="https://www.linkedin.com/in/paul-ochuowo-08b93822/">Resource Management Systems.</a></li>
			</ul>
				<div id="paypal"></div>
			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

</body>
</html>